/*

Name: Julie Cao
Student ID: 216188104
Subject: SIT7714
Assignment: Assignment 1
Comment: This is the CSS used to style the disclaimer section

*/

#disclaimer{
	margin-top:40px;
	border-style: solid;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	min-height:90px;
	min-width:90px;
	display:flex;
	align-items:center;
}

#deakin_logo {
	padding-left:10px;
}