
/*

Name: Julie Cao
Student ID: 216188104
Subject: SIT7714
Assignment: Assignment 2
Comment: This is the CSS used to control the default settings for the poll in this website

*/

body
{
	text-align:center;
}
#headingDiv{
	width:800px;
	display:inline-block;
	text-align:center;
	margin-top:-30px;
}
#thankYou{
	text-align:left;
	text-align:justify;
}   

#headingSquirrelPicsAndPoll{
    display:inline-block;
    margin-top:-5%;
}

.squirrelDrivingFamily{
	max-width:31%;
	height:auto;
	display:inline-block;
	padding-right:10px;
}
table {
	border-collapse: collapse;
    border: 1px solid #ddd;
	width:100%;
	height:50%;
	margin:auto;
	font-size:10pt;
	
}
#surveySubmitButton{
	font-size:12pt;
	font-weight:bold;
	width:130px;
	height:44px;
	background-color:#AEC6CF;
	margin-top:1%;
	margin-bottom:1%;
}

tr:nth-child(even){background-color: #9cbf73}
th, td {
    padding: 15px;
    text-align: left;
}
#poll{
margin-top:2%;
}
